# Set correct MIME types
AddType text/css .css
AddType application/javascript .js
AddType application/json .json
AddType image/png .png
AddType image/avif .avif
AddType image/jpeg .jpg .jpeg

# Enable CORS
Header set Access-Control-Allow-Origin "*" 